.features {
  margin: 100px 7%;
  text-align: center;
}
.features h2 {
  color: var(--Very-Dark-Blue);
  font-size: 1.2rem;
}
.features-mainText {
  font-size: 0.835rem;
  line-height: 1.4rem;
  color: var(--Grayish-Blue);
  padding: 1%;
}
.features-tabs-wrapper {
  margin: 10% 0;
}
.tab-button {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60px;
  justify-content: space-between;
  padding-top: 5%;
  border-top: 1px solid hsla(229, 8%, 60%, 0.274);
  cursor: pointer;
}
.tab-button span:nth-child(1) {
  color: var(--Grayish-Blue);
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.tab-button span:nth-child(1):hover {
  color: var(--Soft-Red);
}
.tab-button span:nth-child(2) {
  height: 3px;
  width: 40%;
  display: block;
}
.tab-button-active span:nth-child(1) {
  color: var(--Very-Dark-Blue) !important;
}
.tab-button-active span:nth-child(2) {
  background-color: var(--Soft-Red);
}
.tabs-panels-wrapper {
  width: 100%;
  position: relative;
  height: 500px;
}
.tab-panel {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.tab-panel-image-wrapper {
  position: relative;
}
.tab-panel-image-wrapper .img-shadow {
  transform: rotate(180deg);
  border-top-left-radius: 40%;
}
.tab-panel-description {
  margin-top: 50px;
}
.tab-panel-title {
  font-size: 1.4rem;
  color: var(--Very-Dark-Blue);
  font-weight: bold;
}
.tab-panel-description p {
  color: var(--Grayish-Blue);
  font-size: 0.9rem;
  font-weight: 500;
}
.tab-link-button {
  display: none;
}
@media (min-width: 768px) {
  .features-mainText {
    font-size: 1rem;
    padding: 0;
  }
  .tab-button {
    padding-top: 3%;
  }
  .tab-button span:nth-child(2) {
    width: 20%;
  }
  .tab-panel-image-wrapper {
    width: 60%;
    margin: auto;
  }
}
@media (min-width: 1024px) {
  .features {
    margin-left: 0;
    margin-right: 0;
  }
  .features h2 {
    font-size: 1.5rem;
  }
  .features-mainText {
    width: 44%;
    margin: auto;
    line-height: 1.7rem;
  }
  .features-tabs-wrapper {
    margin: 3% 0;
  }
  .tabs-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin: auto;
  }
  .tab-button {
    flex: 1;
    border-top: none;
    border-bottom: 1px solid hsla(229, 8%, 60%, 0.274);
  }
  .tab-button span:nth-child(1) {
    font-size: 1rem;
  }
  .tab-button span:nth-child(2) {
    width: 100%;
  }
  .tab-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
  }
  .tab-panel-image-wrapper,
  .tab-panel-description {
    flex: 1;
  }
  .tab-panel-image-wrapper img {
    width: 90%;
    margin-left: 25%;
  }
  .tab-panel-description {
    text-align: left;
    margin-right: 10%;
  }
  .tab-panel-title {
    font-size: 2rem;
  }
  .tab-panel-description p {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  .tab-link-button {
    display: block;
    background-color: var(--Soft-Blue);
    color: white;
    width: 19%;
    padding: 3%;
    border-radius: 5px;
    font-size: 0.8rem;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .tab-panel-image-wrapper .img-shadow {
    left: -23px;
    top: 30px;
    height: 33vh;
    width: 88vw;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .tab-panel-image-wrapper .img-shadow {
    left: -26px;
    top: 36px;
    height: 38vh;
    width: 87vw;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .tab-panel-image-wrapper .img-shadow {
    left: -31px;
    top: 40px;
    height: 42vh;
    width: 91vw;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .tab-panel-image-wrapper .img-shadow {
    left: -188px;
    top: 44px;
    height: 46vh;
    width: 73vw;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .tab-panel-image-wrapper .img-shadow {
    left: -187px;
    top: 52px;
    height: 27vh;
    width: 54vw;
  }
}
@media (min-width: 1025px) {
  .tab-panel-image-wrapper .img-shadow {
    left: -187px;
    top: 77px;
    height: 35vh;
    width: 51vw;
  }
}
