footer {
  background-color: var(--Very-Dark-Blue);
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
footer .bookmark-logo {
}
.footer-menu,
.social-media {
  padding: 0;
  width: 100%;
  text-align: center;
}
.footer-menu li,
.social-media li {
  list-style: none;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer-menu li a {
  color: white;
  letter-spacing: 0.2rem;
}
.social-media {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}
@media (min-width: 768px) {
  footer {
    padding: 5%;
    gap: 20px;
  }
  .footer-menu {
    gap: 14px;
  }
  .footer-menu li a {
    font-size: 0.8rem;
  }
}
