header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10% 7%;
  position: relative;
}
header .bookmark-logo {
  width: 140px;
  display: inline-block;
}
.main-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(229, 31%, 21%, 0.963);
  padding: 3% 7%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}
.main-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
.main-menu-header .bookmark-logo-text,
.main-menu-header .bookmark-logo-circle {
  fill: white;
}
.main-menu-header .bookmark-logo-tag {
  fill: #242a45;
}
.main-menu-icon-close {
  width: 0.8rem;
  height: 0.8rem;
}
.main-menu {
  margin-top: -40px;
}
.main-menu menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border-bottom: 1.3px solid hsla(229, 8%, 60%, 0.439);
}
.main-menu menu li {
  padding: 4% 0;
  list-style: none;
  border-top: 1.3px solid hsla(229, 8%, 60%, 0.439);
  text-align: center;
}
.main-menu menu li a {
  color: white;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  transition: all 0.2s ease;
}
.main-menu-wrapper .login-button {
  display: block;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  margin-top: 7%;
  height: 50px;
  transition: all 0.2s ease-in-out;
}
.main-menu-wrapper .social-media {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
}
.main-menu-wrapper .social-media li {
  list-style: none;
}

@media (min-width: 768px) {
  header {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .main-menu-header {
    height: 65px;
  }
}
@media (min-width: 1024px) {
  header {
    padding: 5% 10%;
    height: 50px;
  }
  header .bookmark-logo {
    width: 180px;
  }
  .main-menu-wrapper {
    position: relative;
    background-color: transparent;
    opacity: 1;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .main-menu-wrapper .login-button {
    background-color: var(--Soft-Red);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 0;
    height: 30px;
    line-height: 30px;
    width: 100px;
    font-size: 0.7rem;
  }
  .main-menu-wrapper .login-button:hover {
    outline: 1px solid var(--Soft-Red);
    background-color: transparent;
    color: var(--Soft-Red);
  }
  .main-menu-header {
    display: none;
  }
  .main-menu {
    margin-top: 0;
  }
  .main-menu menu {
    flex-direction: row;
    border: none;
    gap: 30px;
  }
  .main-menu menu li {
    border: none;
    padding: 0;
  }
  .main-menu menu li a {
    color: var(--Very-Dark-Blue);
    font-size: 0.7rem;
  }
  .main-menu menu li a:hover {
    color: var(--Soft-Red);
  }
  .main-menu-wrapper .social-media {
    display: none;
  }
  .header-buttons-wrapper {
    display: none;
  }
}
