.questions {
  margin: 20% 7%;
  text-align: center;
}
.questions h4 {
  font-size: 1.4rem;
  color: var(--Very-Dark-Blue);
  font-weight: bold;
}
.questions p {
  color: var(--Grayish-Blue);
  font-size: 0.8rem;
  line-height: 1.4rem;
}
.questions-dropdown-wrapper {
  margin: 15% 0;
}
.questions-dropdown-item {
  overflow: hidden;
  position: relative;
  min-height: 60px;
  border-bottom: 1px solid hsla(229, 8%, 60%, 0.455);
}
.questions-dropdown-heading {
  background-color: white;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.questions-dropdown-heading span:nth-child(1) {
  font-size: 0.75rem;
  color: var(--Very-Dark-Blue);
  font-weight: 700;
}
.questions-dropdown-heading .icon {
  display: block;
  width: 25px;
  height: 60px;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dropdown-description {
  font-size: 0.8rem;
  color: var(--Grayish-Blue);
  line-height: 1.5rem;
  margin-top: 10%;
  padding: 7% 0;
  text-align: left;
  margin-top: -82%;
  transition: all 0.2s ease-in-out;
}
.questions-button {
  background-color: var(--Soft-Blue);
  color: white;
  display: block;
  padding: 4%;
  font-size: 0.8rem;
  border-radius: 5px;
  width: 33%;
  margin: auto;
}
.moveDown {
  margin-top: 15%;
}
.rotate-arrow {
  transform: rotate(180deg);
}
.rotate-arrow svg path {
  stroke: var(--Soft-Red);
}
@media (min-width: 768px) {
  .questions {
    margin: 15% 7%;
  }
  .questions p {
    font-size: 1rem;
  }
  .questions-dropdown-wrapper {
    margin: 5% 0;
  }
  .questions-dropdown-heading span:nth-child(1) {
    font-size: 0.85rem;
  }
  .dropdown-description {
    font-size: 0.9rem;
    padding: 5% 0;
  }
  .questions-button {
    padding: 2%;
    font-size: 0.9rem;
    width: 25%;
  }
  .moveDown {
    margin-top: 3%;
  }
}
@media (min-width: 1024px) {
  .questions {
    margin: 8% 0;
  }
  .questions h4 {
    font-size: 1.5rem;
  }
  .questions p {
    width: 44%;
    line-height: 1.7rem;
    margin: auto;
  }
  .questions-dropdown-wrapper {
    width: 44%;
    margin-left: auto;
    margin-right: auto;
  }
  .questions-dropdown-heading span:nth-child(1) {
    font-size: 0.95rem;
  }
  .dropdown-description {
    font-size: 0.95rem;
  }
  .questions-button {
    padding: 1%;
    width: 10%;
  }
  .moveDown {
    margin-top: 7%;
  }
}

